In [6]:
import PyPDF2
import pandas

In [9]:
from tabula import read_pdf
from tabula import conver_into
df = read_pdf("~/Downloads/TDSB_School_list_Elem_Registration_Reports.pdf")

In [11]:
df

,Elementary Students,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,NaN,NaN,NaN,NaN,NaN,All Grades,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7 - 8,NaN,NaN,NaN
1,NaN,Enrolment,NaN,In School,In School,Virtual School,Virtual School,No Response,No Response,Enrolment,...,Virtual School,No Response,No Response,Enrolment,In School,In School,Virtual School,Virtual School,No Response,No Response
2,NaN,NaN,NaN,Cnt,Pct,Cnt,Pct,Cnt,Pct,NaN,...,Pct,Cnt,Pct,NaN,Cnt,Pct,Cnt,Pct,Cnt,Pct
3,LC4 LN23 - Marc Sprack Adam Beck Junior Public...,556,NaN,481,87%,66,12%,9,2%,374,...,6%,2,1%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LC2 LN11 - Audley Salmon Africentric Alternati...,85,NaN,19,22%,39,46%,27,32%,38,...,35%,8,31%,21,6,29%,8,38%,7,33%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,LC3 LN13 - Kurt McIntosh Charles Gordon Senior...,373,NaN,230,62%,118,32%,25,7%,NaN,...,NaN,NaN,NaN,373,230,62%,118,32%,25,7%
83,LC2 LN08 - Elizabeth Addo Charles H Best Junio...,396,NaN,266,67%,74,19%,56,14%,NaN,...,17%,32,14%,173,112,65%,37,21%,24,14%
84,LC3 LN16 - Shirley Chan Charlottetown Junior P...,369,NaN,244,66%,90,24%,35,9%,243,...,22%,9,7%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,LC3 LN17 - Diana Panagiotopoulos Chartland Jun...,193,NaN,61,32%,114,59%,18,9%,133,...,45%,6,10%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,LC2 LN09 - Courtney Lewis Cherokee Public School,170,NaN,79,46%,80,47%,11,6%,106,...,39%,5,8%,NaN,NaN,NaN,NaN,NaN,NaN,NaN